# Ignore everything
*

# Keep .gitignore itself
!.gitignore

# Keep CPlanes python script
!python/
!python/*.py

# Keep selected project files
!README.md
!LICENSE

## Keep LaTeX sources
#!*.tex
#!*.bib
#
## Keep output PDF
#!build/
#!build/Trace.pdf
#
## Keep the drawings directory, with files directly inside, but ignore directories below
#!drawings/
#!drawings/*
#drawings/*/